*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: hsl(180, 6%, 6%);
    color: white;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("D:\FRONT-END WEBDEVELOPMENT\AMAZON CLONE\amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}