*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: hsl(180, 6%, 6%);
    color: white;
    display: flex;
    align-items: center;
}
/** BOX 1 **/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border:solid 1.5px transparent;
}
.border:hover{
    border: 2px solid white;
}
/** BOX 2 **/
.T1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.T2{
    color:white;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/**box 3**/
.nav-search{
    display: flex;
    margin-left: 15px;
    background-color: antiquewhite;
    height: 38px;
    width: 600px;
    border-radius: 7px;
}
.search-icon{
    background-color: darkgoldenrod;
    width:50px;
    display: flex;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    justify-content: center;
    align-items: center;
}
.search-select{
    background-color: aliceblue;
    text-align: center;
    width: 50px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.search-bar{
    width: 500px;
}



